* {
    font-family: "Inter", sans-serif;
}

button {
    background-color: #349705 !important;
    border-radius: 0% !important;
    font-weight: 600 !important;
}

.text-multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas desejadas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-nav .nav-link.active {
    background-color: transparent !important;
    color: green !important;
}

.nav-link {
    text-align: center;
}

header h1 {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    line-height: 1;
}

header nav ul li a {
    font-family: "Fraunces", serif;
}

.container header {
    color: #ffffff;
}

.background {
    background-image: url("./images/background.svg");
    background-size: cover; /* cobre todo o elemento */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição da imagem */
    max-width: 1320px;
}

#home-content h1 {
    font-family: "Fraunces", serif;
    font-size: 3.125em;
    color: #ffffff !important;
}

#home-content p {
    color: #5e5e5e;
}

#home-content #btn-menu button:nth-child(2) {
    background-color: transparent !important;
    color: #349705;
    border-color: #349705;
}

#home-content form {
    background-color: #ffffff;
}

#home-content form label {
    font-size: 0.88em;
}

#home-content form button {
    width: 100%;
    color: #ffffff;
    background-color: #349705;
}

#form-info p,
#form-info h2 {
    font-family: "Fraunces", serif;
    font-weight: 600;
}
#form-info p {
    color: #349705;
    margin-bottom: 0.5rem;
}

#form-info h2 {
    color: #000000;
}

#home-footer h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 1.25em;
    text-align: end;
}

#home-footer h2 strong {
    color: #349705;
    font-family: "Fraunces", serif;
}

#home-footer p {
    color: #5e5e5e;
    text-align: end;
}

/* Menu secction */
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-title p:nth-child(1) {
    color: #349705;
    font-family: "Fraunces", serif;
    font-size: 1em;
    text-transform: uppercase;
}

.section-title p svg {
    margin: 0 10px;
}

.section-title p:nth-child(3) {
    max-width: 697px;
    max-height: 49px;
    color: #5e5e5e;
}

.section-title h1 {
    color: #000000;
    font-family: "Fraunces", serif;
    font-weight: 600;
}

#menu-section-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

#menu-section-options img {
    width: 100%;
}

#menu-section-options > div {
    width: 280px;
    height: 385px;
}

.menu-option {
    bottom: 0;
    padding: 0 45px 55px 45px;
}

.menu-option h3 {
    font-size: 25px;
    font-family: "Fraunces", serif;
    color: #ffffff;
}

/* End */
